! Cursor theme !

!Xcursor.theme: Vanilla-DMZ-AA

! Xft settings 
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintsfull


! URxvt config !

URxvt.scrollBar: off
URxvt.font: xft:Terminus:size=12
!:antialias=true:hinting=true:hintstyle=hintmedium:rgba=rgb
!URxvt.letterSpace: -2
URxvt.internalBorder: 10
URxvt.selectToClipboard: true
URxvt.saveLines: 36000
URxvt.perl-ext-common: default,matcher,searchable-scrollback
URxvt.urlLauncher: /bin/firefox
URxvt.matcher.button: 1
URxvt.cursorBlink: true
URxvt.cursorColor: #87af5f
URxvt.cursorUnderline: false
URxvt.underlineColor: #4576b5
!URxvt.fading: 25

! fake transparency
!URxvt.transparent: true
!URxvt.shading: 20
! true transparency (composite)
!URxvt.depth: 32
!URxvt.background: rgba:1100/1100/1100/cf00


! Tango Terminal Colours
!URxvt*background: #151515
!URxvt*foreground: #878787
!URxvt*color0: #000000
!URxvt*color8: #6e706b
!URxvt*color1: #cc0000
!URxvt*color9: #ef2929
!URxvt*color2: #4e9a06
!URxvt*color10: #8ae234
!URxvt*color3: #edd400
!URxvt*color11: #fce94f
!URxvt*color4: #3465a4
!URxvt*color12: #729fcf
!URxvt*color5: #92659a
!URxvt*color13: #c19fbe
!URxvt*color6: #07c7ca
!URxvt*color14: #63e9e9
!URxvt*color7: #d3d7cf
!URxvt*color15: #eeeeec

! Jellybeans Terminal Colours
URxvt*background: #121212
URxvt*foreground: #dcdcdc
URxvt*color0: #525252
URxvt*color8: #121212
URxvt*color1: #cf6a4c
URxvt*color9: #ff9d80
URxvt*color2: #99ad6a
URxvt*color10: #c3e6ad
URxvt*color3: #fad07a
URxvt*color11: #ffefbf
URxvt*color4: #8197bf
URxvt*color12: #accaff
URxvt*color5: #8787af
URxvt*color13: #c4c4ff
URxvt*color6: #8fbfdc
URxvt*color14: #80bfaf
URxvt*color7: #aaaaaa
URxvt*color15: #e8e8d3

!URxvt*color0: #393939
!URxvt*color1: #ca674a
!URxvt*color2: #96a967
!URxvt*color3: #d3a94a
!URxvt*color4: #5778c1
!URxvt*color5: #9c35ac
!URxvt*color6: #6eb5f3
!URxvt*color7: #a9a9a9
!URxvt*color8: #535551
!URxvt*color9: #ea2828
!URxvt*color10: #87dd32
!URxvt*color11: #f7e44d
!URxvt*color12: #6f9bca
!URxvt*color13: #a97ca4
!URxvt*color14: #32dddd
!URxvt*color15: #e9e9e7 

! Linux Terminal Colours
!URxvt*background: #000000
!URxvt*foreground: #aaaaaa
!URxvt*color0: #000000
!URxvt*color8: #000000
!URxvt*color1: #aa0000
!URxvt*color9: #ff5555
!URxvt*color2: #00aa00
!URxvt*color10: #55ff55
!URxvt*color3: #aa5500
!URxvt*color11: #ffff55
!URxvt*color4: #0000aa
!URxvt*color12: #5555ff
!URxvt*color5: #aa00aa
!URxvt*color13: #ff55ff
!URxvt*color6: #00aaaa
!URxvt*color14: #55ffff
!URxvt*color7: #aaaaaa
!URxvt*color15: #ffffff
